.square{
    background-color: blue;
    width: 15px;
    height: 15px;
    margin: 10px;
}
.circle{
    display: inline-block;
    background-color: green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 10px;
}
